h1{
    color: navy;
    border-bottom: 5px solid gray;
}
h2{
    color: navy;
    background-color: cornflowerblue;
}
p{
    background-color: cornflowerblue;
    color: navy
}

h3{ 
    color: navy;
    background-color: cornflowerblue;
    border-bottom: 5px solid gray;
}
li{
    display: inline;
}
nav{
    background-color: blanchedalmond;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  
  @media only screen and (max-width: 1050px) {}
  body {
    background-color: rgb(167, 222, 240);
  }
/* Ik koos ervoor om een achtergrond kleur te zetten zodat het er een beetje mooier uitziet in mijn mening */
